.header {
    /* grid-area: h; */
    border: 1px solid rgb(248, 235, 54);
    overflow: hidden;
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px; */
    display: inline-grid;
    justify-content: start;
    align-content: center;
    
  
    
}
.header img { 
    max-height: 60px;
    display: inline-block;

}
.header_title {
    display: inline-block;
    color: rgb(248, 235, 54);
    font-weight: lighter;
    margin-left: 10px;
    
}