.nav {
    /* grid-area: n; */
    grid-column: 1 / span 2;
    grid-row: 2 / span 11;
    border: 1px solid rgb(248, 235, 54);

    display: grid;
    justify-content: center;
    align-content: start;

    
}

.item {
  margin: 5px 0;
  /* border: 1px solid rgb(248, 235, 54); */
  
  
}


.item:last-child {
  margin-top: 50px;
}
.item a {
  color:white;
  text-decoration: none;
}


.item a.activeLink {
  color: yellow;
  
}

