/* https://themeforest.net/item/frame-business-social-network/14034725 */

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-columns: 2fr 10fr;
  /* 1 строка 60px , а второая все что осталось то 1 часть из 1 */
  grid-template-rows: 60px 1fr;
  
  
}
