/* https://themeforest.net/item/frame-business-social-network/14034725 */

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5),
  rgba(122, 90, 90, 0.5)), url('./container-background.jpg') no-repeat center center fixed;
  /* background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url('./container-background.jpg') no-repeat center center fixed; */
  background-size: cover;
  



  display: grid;


  /* grid-template-areas: 
  'h h '
  'n c'; */
  /* grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr; */
 
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 5px;
  /* 1 строка 60px , а второая все что осталось то есть 1 часть из 1 */
  
  
  
}
